.clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  text-align: center;
}

.clockdiv>div {
  padding: 4px;
  border-radius: 3px;
  background: #00BF96;
  display: inline-block;
  margin-right: 3px;
}

.clockdiv div>span {
  padding: 3px 6px;
  border-radius: 3px;
  background: #00816A;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 9px;
}

ul .list-group-item:nth-child(2) {
  font-weight: bold !important;
  animation: glow .5s infinite alternate;
}

@keyframes glow {
  to {
    text-shadow: 0 0 10px green;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}